include MANIFEST.in
include *.txt
include *.rst
recursive-include doc *
recursive-include requirements *
recursive-include numpydoc *

# Exclude what we don't want to include
prune */__pycache__
exclude .circleci/config.yml
exclude .coveragerc
exclude codecov.yml
global-exclude *.pyc *~ *.bak *.swp *.pyo
