name: Build Wheel and Release
on:
  pull_request:
    branches:
      - main
  push:
    tags:
      - v*

jobs:
  sdist_wheel:
    name: sdist and wheels
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.12"
      - name: Build wheels
        run: |
          git clean -fxd
          pip install -U build twine wheel
          python -m build --sdist --wheel
      - run: twine check --strict dist/*
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist
          path: dist

  pypi-publish:
    needs: sdist_wheel
    name: upload release to PyPI
    if: github.repository_owner == 'numpy' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    # Specifying a GitHub environment is optional, but strongly encouraged
    environment: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist
          path: dist
      - uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
